@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<br />
<h3>Our mission</h3>
<br />

<p>Crit is open and free, game reviewing platform. You can stay here and discower opinions of other player or to create your own.</p>
<br />
<p>We hope you will value time spend here!</p>
<br /><br />
<img src="@Url.Content("~/logos/critLogoBlack.png")" class="center"/>
